In [5]:
# Group 33, Florida Atlantic University
# Fold change model for feature extraction

import numpy as np
import pandas as pd
import os


# Extracting Data 
labeled_miRNA_data = pd.read_csv('../processed_data/miRNA_stage_subtype.csv')

In [6]:
labeled_miRNA_data.head(5)

,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,hsa-let-7g,...,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-9500,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b,stage,subtype
0,7314.747386,7391.483138,7334.393081,10994.201497,471.496698,318.193106,1156.241547,3272.099771,3363.611772,442.783758,...,0.0,0.000000,1.847031,0,40.298863,35.429417,148.602058,12118.707689,1,2
1,9518.042994,9460.443528,9574.874468,17578.281899,785.810318,358.652676,771.986446,3871.452122,3917.224498,487.829079,...,0.0,128.562009,4.607957,0,8.601520,38.860440,111.512567,7471.802757,1,2
2,4479.976340,4387.407628,4447.955716,12394.310110,404.624244,855.241747,246.267705,1353.016896,1415.311564,416.850300,...,0.0,161.267504,1.746579,0,33.767203,31.438430,168.253822,16026.613214,1,2
3,21277.962603,21166.590502,21255.800397,15161.474118,6684.570363,503.278464,2185.922959,15012.229891,14987.262342,1107.549261,...,0.0,1.683206,10.660302,0,5.049617,95.101114,1416.978551,12750.562682,1,2
4,8002.355461,8013.396682,8033.638922,19358.942067,1276.411235,765.754731,593.005616,2630.801098,2649.433160,367.580673,...,0.0,97.990843,3.450382,0,22.772520,46.235116,455.450396,14401.203493,1,2

In [7]:
# Seperating data from labels
miRNA_data = labeled_miRNA_data.iloc[: ,:  -2]
stage_labels = labeled_miRNA_data.iloc[:, -2]
subtype_labels = labeled_miRNA_data.iloc[: -1]

In [53]:
rpm_avg_across_stages = labeled_miRNA_data.iloc[: ,:  -1].groupby('stage').mean()

positive_cases = rpm_avg_across_stages[1:]

rpm_avg_posistive_cases = positive_cases.mean().to_frame().transpose()

rpm_avg_negative_posistive = pd.concat([rpm_avg_across_stages.iloc[:1], rpm_avg_posistive_cases.iloc[:1]], ignore_index = True).transpose()

rpm_avg_negative_posistive.head(5)

                         0             1
hsa-let-7a-1   9364.865318   9854.354250
hsa-let-7a-2   9319.533377   9839.225444
hsa-let-7a-3   9399.771735   9885.311293
hsa-let-7b    15241.225121  17199.333693
hsa-let-7c     1979.238756   1550.109942

In [ ]:
def log_fold_change(negative, posistive):
    return np.log2(posistive / negative)

In [54]:
rpm_log_fold_change = pd.DataFrame(columns=rpm_avg_negative_posistive.transpose())

for idx, row in rpm_avg_negative_posistive.iterrows():
    rpm_log_fold_change[idx] = log_fold_change(row["0"], row["1"])

ValueError: Index data must be 1-dimensional